@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px 100px;
  }
*{
    margin: 0;
    padding: 0;
}
/* comon style */
.color{
    color: #424242;
}
.margin-bottom{
    margin-bottom: 15px;
}
.btn-praimary{
    background-color: #FF900E;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    transition-duration: 0.5s;
}
.btn-praimary:hover{
    background-color: #ce6f02;
}
/* style header area */
.header{
    /* background-color: #727272; */
}
.header .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.header .nav-bar .item{
    display: flex;
    column-gap: 25px;
    list-style: none;
}
.header .nav-bar .item a{
    text-decoration: none;
    font-weight: 500px;
}
.header .nav-bar .item a:hover{
    text-decoration: underline;
}

/* style hero are */
.hero-section{
    margin: 20px 0px;
    padding: 30px 0px;
}
.hero-section .main-tittle{
    font-size: 4rem;
    font-weight: 1.70rem;
}
.hero-section .new-tittle-style{
    color: #FF900E;
}
.hero-section .tittle-are{
    margin: 0px auto;
    text-align: center;
}
.hero-section .img-area img{
    width: 100%;
}
/* discous-feature style */
.discous-feature{
    display: flex;
    column-gap: 30px;
    /* align-items: center; */
}
.discous-feature .img-section{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
}
.discous-feature .tittle-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.discous-feature .tittle-area .tittle{
    font-size: 2.8rem;
}
.discous-feature .tittle-area .Features{
    color: #FF900E;
}
.discous-feature .tittle-area .quick-list{
    color: #727272;
}

/* style some-facts */
.some-facts{
    margin: 80px 0px;
}
.some-facts .some-facts-name{
    margin-bottom: 15px;
}
.some-facts .card-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 100px;
    
}
.some-facts .card-container .card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 15px;
}
/* our-sponsors style */
.our-sponsors{
    margin: 80px 0px;
}
.our-sponsors .sponsors-tittle-area{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.our-sponsors .sponsors-tittle-area .sponspores-tittle{
    margin-bottom: 15px;
    font-size: 2.8rem;
}
.our-sponsors .sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    column-gap: 150px;
}
.our-sponsors .sponsor-img-container img{
    width: 100%;
    filter: grayscale(100%);
}
/* style features-you-will */
.features-you-will{
    margin: 80px 0px;
}
.features-you-will .feature-card-img{
    display: flex;
    column-gap: 100px;
}
.features-you-will .tittle-container .features-tittle{
    font-size: 2.3rem;
    border-left: 5px solid #FF900E;
    margin-bottom: 15px;
    padding: 10px;
}
.features-you-will .card{
    margin: 30px 0px;
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgba(66, 66, 66,0.2);
}
.features-you-will .card .card-tittle{
    margin-bottom: 15px;
}
.features-you-will #btn-id{
    padding: 35px;
    margin-top: -100px;
    margin-left: -70px;
}
.features-you-will .year{
    font-size: 2.5rem;
    font-weight: 400px;
}
.features-you-will .Experience{
    margin-top: 10px;
}

/* style footer section */
.footer{
    background-color: #FFF4E7;
    text-align: center;
    padding: 30px 0px;
}
/* responsive area */
@media screen and (max-width: 576px){
    .header .nav-bar, .header .nav-bar .item{
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }
    .work-sans-font{
        margin: 15px 15px;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .discous-feature{
        display: flex;
        row-gap: 30px;
        flex-direction: column;
        
    }
    .discous-feature .img-section, .our-sponsors .sponsor-img-container{
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }
    .discous-feature .tittle-area{
        text-align: center;
        row-gap: 20px;
    }
    .discous-feature .img-section img{
        width: 100%;
    }
    .some-facts{
        text-align: center;
    }
    .some-facts .card-container{
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
    }
    .some-facts .card-container .card{
        width: 65%;
        margin: 20px auto;
    }
    .our-sponsors .sponsor-img-container img{
        width: 80%;
        margin: 10px auto;
    }
    .feature-card-img{
        flex-direction: column;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .feature-card-img .img-container img{
        width: 100%;
    }
    .features-you-will #btn-id{
        margin: 10px auto;
    }
}
@media screen and (min-width: 576px) and (max-width:992px){
    .work-sans-font{
        margin: 15px 15px;
    }
    .hero-section .img-area{
        margin-top: 50px;
    }
    .discous-feature{
        row-gap: 30px;
        flex-direction: column;
        
    }
    .discous-feature .tittle-area{
        text-align: center;
        row-gap: 20px;
    }
    .some-facts .card-container, .our-sponsors .sponsor-img-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        
    }
    .discous-feature .img-section img{
        width: 100%;
    }
    .some-facts{
        text-align: center;
    }
    .some-facts .card-container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
    .some-facts .card-container .card{
        width: 80%;
        margin: 20px auto;
    }
    .feature-card-img{
        flex-direction: column;
        gap: 20px;
        flex-direction: column-reverse;
       text-align: center;
    }
    .feature-card-img .img-container img{
        width: 100%;
    }
    .features-you-will #btn-id{
        margin: 10px auto;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px){
    .work-sans-font{
        margin: 50px 50px;
    }
    .hero-section .img-area{
        margin-top: 50px;
    }
    .discous-feature{
        row-gap: 30px;
        flex-direction: column;
        
    }
    .discous-feature .img-section img{
        width: 100%;
        margin: 20px auto;
    }
    .discous-feature .tittle-area{
        text-align: center;
        row-gap: 20px;
    }
    .some-facts{
        text-align: center;
    }
    .some-facts .card-container, .our-sponsors .sponsor-img-container{
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
    }
    .some-facts .card-container .card{
        width: 80%;
        margin: 20px auto;
    }
    .feature-card-img{
        flex-direction: column;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .feature-card-img .img-container img{
        width: 100%;
    }
    .features-you-will #btn-id{
        margin: 10px auto;
    }
    
}
